.main_images{
  width: 80%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  border-radius: 15px;

  background-color: rgba(39, 39, 39, 0.096);
}

.slider{
  width: 800px;
  height: 550px;

  margin: 10px;

  overflow: hidden;
}

.slides{
  width: 400%;
  height: 550px;

  display: flex;

}

.slides input{
  display: none;
}

.imagem img{
  width: 25%;
  position: relative;

  border-radius: 25px;

}

/* img{
  width: 100%;
  height: 500px;

  border-radius: 15px;

  object-fit: cover;
} */